html {
    overflow-y: scroll;
}

body {
	background: #f8f8f8; 
	color: black; 
	max-width: 120ch;
	margin: 1em auto;
}

h1, h2, h3 {font-weight: bold;}
h1 {font-size: 134%;}
h2 {
	font-size: 117%;
	text-decoration: underline;
}
h3 {font-size: 100%;}

table { 
  border-collapse: collapse;
  outline: 1px solid black;
  background-color: #f0f0f0;
  tbody {
    border: 1px solid grey
  }
}

td { 
  padding-top: 0.3em;
  padding-bottom: 0.4em;
  padding-right: 2em;
  padding-left:0.3em;
}

code {
    border: 1px solid #d9d9d9;
    background: #ededed;
    padding-left: 4px;
    padding-right: 4px;
}

.page {
	background: #FFFFFF;
	border: 1px solid #777;
}

.content {
	padding: 1.5em;
	padding-top: 0.5em;
	padding-bottom: 0.5em;
}

.front {
	display: block;
	margin-right: auto;
    box-shadow: 4px 4px 6px #00000020;
}

.featureimg > a > img {
	display: block;
	margin-right: auto;
	border: 1px solid black;
	max-width: 50%;
	box-shadow: 4px 4px 6px #00000020;
}

.icon {
	width: 32px;
	padding-right: 8px;
	padding-left: 5px;
  vertical-align: middle;
}

td {
	vertical-align: sub;
}

a {
    display: contents;
	text-decoration: none
}

a.footer-links img {
  width: 1rem;
  vertical-align: middle;
  padding-right: 0.2rem;
}
