:root {
  --text-color: black;
  --border-color: black;
  --page-border-color: grey;
  --table-color: #f0f0f0;
}

html {
    overflow-y: scroll;
}

body {
  margin: 0;
}

h1, h2, h3 {font-weight: bold;}
h1 {font-size: 134%;}
h2 {
	font-size: 117%;
	text-decoration: underline;
}
h3 {font-size: 100%;}

table { 
  border-collapse: collapse;
  outline: 1px solid var(--border-color);
  background-color: var(--table-color);
  tbody {
    border: 1px solid var(--page-border-color)
  }
}

td { 
  padding-top: 0.3em;
  padding-bottom: 0.4em;
  padding-right: 2em;
  padding-left:0.3em;
}

code {
    border: 1px solid #d9d9d9;
    background: #ededed;
    padding-left: 4px;
    padding-right: 4px;
}

.page {
	border: 1px solid var(--page-border-color);
  max-width: 120ch;
  margin: auto;
}

.content {
	padding: 1.5em;
	padding-top: 0.5em;
	padding-bottom: 0.5em;
}

.front {
	display: block;
	margin-right: auto;
    box-shadow: 4px 4px 6px #00000020;
}

.featureimg > a > img {
	display: block;
	margin-right: auto;
	border: 1px solid black;
	max-width: 50%;
	box-shadow: 4px 4px 6px #00000020;
}

.icon {
	width: 32px;
	padding-right: 8px;
	padding-left: 5px;
  vertical-align: middle;
}

td {
	vertical-align: sub;
}

a {
    display: contents;
	text-decoration: none
}

a.footer-links img {
  width: 1rem;
  vertical-align: middle;
  padding-right: 0.2rem;
}

/* Dark mode */
.wrapper {
  background: var(--background-color);
  color: var(--text-color);
  min-height: 100vh;
  padding-top: 1em;
  padding-bottom: 1em;
}

#toggleMode{
  display: none;
}

.toggleDark,
.toggleLight{
  cursor: pointer;
  position: absolute;
  z-index: 2;
  top: 20px;
  left: 20px;
  img {
    width: 3em;
  }
}

.toggleDark{
  display: block;
  color: #222;
}

.toggleDark:hover{
  color: blue;
}

.toggleLight{
  display: none;
  color: white;
}

#toggleMode:checked ~ .toggleDark{
  display: none;
}

#toggleMode:checked ~ .toggleLight{
  display: block;
}

#toggleMode:checked ~ .wrapper {
  --page-border-color: rgb(80, 115, 134);
  --background-color: rgb(16, 20, 23);
  --text-color: rgb(167, 158, 139);
  --title-color: rgb(247, 142, 102);
  --table-color: var(--background-color);
  a {
    color: rgb(128, 182, 204)
  }
  h1, h2, h3, h4, h5 {
    color: rgb(247, 142, 102);
  }
}
