<head lang="en">
    <meta charset="utf-8">
    <title>Feather: A Free Monero Desktop Wallet</title>
    <meta charset="UTF-8">
    <meta name="title" content="Feather: A Free Monero Desktop Wallet">
    <meta name="description" content="Feather is a Monero desktop wallet that is free & secure for Linux, Tails, Windows and macOS.">

    <meta property="og:type" content="website">
    <meta property="og:url" content="https://featherwallet.org/">
    <meta property="og:title" content="Feather is a Monero desktop wallet that is free & secure for Linux, Tails, Windows and macOS.">
    <meta property="og:description" content="Feather is a Monero desktop wallet that is free & secure for Linux, Tails, Windows and macOS.">
    <meta property="og:image" content="https://featherwallet.org/img/feather-preview.png">
    <meta property="twitter:card" content="summary_large_image">
    <meta property="twitter:url" content="https://featherwallet.org/">
    <meta property="twitter:title" content="Feather: A Free Monero Desktop Wallet">
    <meta property="twitter:description" content="Feather is a Monero desktop wallet that is free & secure for Linux, Tails, Windows and macOS.">
    <meta property="twitter:image" content="https://featherwallet.org/img/feather-preview.png">
    <meta name="twitter:site" content="@FeatherWallet">
    

    <link rel="icon" href="/img/feather.png" type="image/png">
    <link rel="canonical" href="https://featherwallet.org">
    <link rel="stylesheet" type="text/css" href="/css/style.css" title="feather Home Page Style">
    <link rel="shortcut icon" href="/img/feather.png">
    <link rel="alternate" type="application/rss+xml" href='{{ "feed.xml" | absURL }}'>
</head>
