<head>
    <meta charset="utf-8">
    <title>Feather: a free Monero wallet</title>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <meta name="description" content="Feather Monero Wallet"/>
    <meta name="twitter:site" content="@FeatherWallet" />

    <link rel="icon" href="/img/monero_grey.png" type="image/png" />
    <link rel="canonical" href="https://featherwallet.org">
    <link rel="stylesheet" type="text/css" href="/css/style.css" title="feather Home Page Style">
    <link rel="shortcut icon" href="img/monero_grey.ico">
</head>
